<cdk-virtual-scroll-viewport itemSize="50" class="viewport">

  <button (click)="changeMovies()">changeMovies</button>
  <div class="movies-container">
    <div *ngFor="let movie of movies" class="movie-card">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" class="movie-poster" />
      <div class="movie-info">
        <h3>{{ movie.title }}</h3>
      <p><strong>Original Title:</strong> {{ movie.original_title }}</p>
      <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
      <p><strong>Language:</strong> {{ movie.original_language | uppercase }}</p>
      <p><strong>Rating:</strong> {{ movie.vote_average }} ({{ movie.vote_count }} votes)</p>
      <p><strong>Overview:</strong> {{ movie.overview }}</p>
      <p><strong>Popularity:</strong> {{ movie.popularity }}</p>
    </div>
  </div>
</div>
</cdk-virtual-scroll-viewport>
